<h1>{{title}}</h1>
<p>Attendence for {{contact.display_name}}</p>
<h3>Event: {{event.title}}</h3>
<div class="records"></div>

<label>Add attendence record</label>
<input class="date" name="date" type="text" />
<button class="add">Add</button>
